* {
    z-index:1;
}
#afkbutton {
    height: 50px;
    width: 100px;
    border-color: black;
    border-style: solid;
    border-width:2px;
    border-radius: 5px;
    cursor:move;
    position: relative;
    margin-top:55px;
}
